* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(15, 15, 15);
    font-family: 'Inter', sans-serif;
}

.main-container {
    padding-top: 80px;
}

.navigation-bar {
    max-height: 60px;
    width: 100%;
    display: flex;
    margin-left: 20px;
    margin-top: 15px;
    position: fixed;
    top: 0;
    left: 0;

    box-sizing: border-box;
    z-index: 100;
}

.netflix-logo {
    width: 150px;
    height: auto;
}

.browse-elements {
    display: flex;
    align-items: center;
}

.misc-elements {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 40px;
}

.browse-button,
.misc-button {
    background: rgb(15, 15, 15);
    color: gray;
    margin-right: 18px;
    border: none;
    cursor: pointer;
    font-size: 15px;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.category {
    margin: 30px 20px;
}

.category-title {
    color: white;
    font-size: 20px;
    margin-bottom: 7px;
    font-weight: 600;
}

.movie-row {
    display: flex;
    gap: 7px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.movie-row::-webkit-scrollbar {
    display: none;
}

.movie-row img {
    width: 210px;
    height: 140px;
    object-fit: cover;
    flex-shrink: 0;
}

.left-button,
.right-button {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    width: 50px;

    position: absolute;
    top: 0;
    height: 100%;
}

.right-button:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.7), transparent);
}

.left-button:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
}

.left-button {
    left: 0;
}

.right-button {
    right: 0;
}

.movie-container {
    position: relative;
}