* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(15, 15, 15);
    font-family: 'Inter', sans-serif;
}

.home-page .main-container {
    padding-top: 80px;
}

.home-page .navigation-bar {
    height: 80px;
    width: 100%;
    display: flex;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;

    box-sizing: border-box;
    z-index: 100;
    background: rgb(15, 15, 15);
}

.netflix-logo {
    width: 150px;
    height: auto;
    margin-left: 14px;
}

.browse-elements {
    display: flex;
    align-items: center;
}

.misc-elements {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 40px;
}

.search-container {
    position: relative;
    width: 45px;
    transition: width 0.2s ease;
    margin-left: auto;
}

.search-container.show {
    width: 300px;
    margin-right: 50px;
}

.search-container button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.search-container.show button {
    left: 0;
    right: auto;

    background: transparent;
    padding: 14px;
    margin: 0;
}

.search-bar {
    background: rgb(30, 30, 30);
    border: 1px solid gray;
    height: 50px;
    width: 100%;
    border-radius: 50px;
    color: white;
    padding-left: 50px;
    font-size: medium;
    font-weight: 100;
    caret-color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.search-bar.show {
    opacity: 1;
    pointer-events: auto;
}

.search-bar:focus {
    outline: none;
}

.browse-button,
.misc-button {
    background: rgb(15, 15, 15);
    color: lightgrey;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 40px;
    padding: 15px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.browse-button:hover,
.misc-button:hover {
    background: rgba(82, 82, 82, 0.9);
    transition: 0.4s;
}

.misc-button span {
    font-size: 28px;
    font-weight: 100;
}

.category {
    margin: 30px 20px;
}

.category-title {
    color: white;
    font-size: 20px;
    margin-bottom: 7px;
    font-weight: 600;
    margin: 15px 50px;
}

.home-page .movie-row {
    display: flex;
    gap: 7px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin: 0 50px;
    cursor: pointer;
}

.movie-row::-webkit-scrollbar {
    display: none;
}

.home-page .movie-row img {
    width: 240px;
    height: 150px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 15px;
}

.movie-row img:hover {
    transform: scale(1.1);
}

.left-button,
.right-button {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    width: 50px;

    position: absolute;
    top: 0;
    height: 100%;
}

.left-button span,
.right-button span {
    font-size: 30px;
    font-weight: 100;
}

.right-button:hover,
.left-button:hover {
    transform: scale(1.4);
    transition: transform 0.7s ease;
}

.left-button {
    left: 0;
}

.right-button {
    right: 0;
}

.movie-container {
    position: relative;
}

.modal-overlay {
    visibility: hidden;
    position: fixed;
    opacity: 0;
    inset: 0;
    z-index: 1000;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.5s ease;
}

.modal-overlay.show {
    opacity: 1;
    visibility: visible;
}

.movie-modal {
    position: relative;

    background: rgb(15, 15, 15);
    width: 850px;
    height: 95%;

    overflow-y: scroll;
    transform: scale(0.95);

    border-radius: 10px;
}

.image-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}

.movie-modal::after {
    content: "";

    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    height: 205px;

    background: linear-gradient(to bottom,
            transparent,
            rgb(15, 15, 15));

    pointer-events: none;
}

.image-container {
    position: relative;
}

.modal-title,
.movie-info {
    color: white;
    margin: 10px;
}

.movie-info {
    display: flex;
    gap: 15px;
}

.play-button {
    background: white;
    border: none;

    width: 120px;
    height: 45px;
    margin: 10px;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button span {
    font-size: 40px;
    font-weight: bold;
}

.play-button:hover {
    background: #ddd;
}

.close-modal {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    color: azure;
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin: 15px 13px;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: absolute;
}

.close-modal span {
    font-weight: 100;
    font-size: 30px;
}

.search-suggestions.show {
    visibility: visible;
    opacity: 1;
}

.search-suggestions {
    position: fixed;
    left: 0;
    top: 200px;
    padding-left: 80px;

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.search-suggestions img {
    width: 230px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.categories-container.searching {
    display: none;
}

/* Movie and Series Page Styles */


.ms-container {
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 99;
    top: 0;
    padding-top: 100px;
}

.ms-txt {
    background: rgb(15, 15, 15);
    color: white;
    font-size: 40px;
    font-weight: 500;
    padding-left: 60px;
    padding-bottom: 15px;
}

.browse-page .movie-row img {
    width: 200px;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
}

.select-genre {
    background: rgb(15, 15, 15);
    width: 110px;
    height: 25px;
    border: 1px solid lightgray;
    color: white;
    position: relative;
    margin-left: 40px;
}

.select-genre:focus {
    outline: none;
}

.genre-txt {
    position: absolute;
    display: grid;
}

.browse-page .main-container {
    padding-top: 180px;
    background: rgb(24, 24, 24);
}

.browse-page .navigation-bar {
    height: 100px;
    width: 100%;
    display: flex;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 100;
    background: rgb(15, 15, 15);
}

.browse-page .movie-row {
    margin: 0 50px;
}